* {
  margin: 0;
  padding: 0;
}

.wrapper-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: rgba(165, 165, 165, 0.3);
  /* max-width: 50%; */
  
}

#article {
  padding: 20px;
}

#article h2 {
  margin-bottom: 16px;
}

img{
  width: 30%;
  margin: 0;
  padding: 0;
}

.btn-div {
  text-align: right;
}