@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  color: #333333;
  text-align: center;
  font-family: 'Lato';
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

button {
  background-color: rgb(253, 130, 171);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  margin: 16px 0 0 0;
}

footer {
  background-color: darkslategray;
  color: white;
  text-align: center;
  min-height: 200px;
}

footer div {
  padding-top: 72px;
  color: white;
}

footer p {
  color: white;
  margin-bottom: 16px;
}

.section-title {
  text-align: center;
  text-decoration: underline;
  margin-top: 4rem;;
}

